{% extends "partials/base.html" %} {% block content %}

<section class="container">
    <div class="container-fluid padding-left-md padding-right-md">
        <div class="row padding-top-x text-center">
            <div class="height-sm"></div>
            <h3 class="h3 padding-bottom-lg">This is the homepage</h3>
            <a href="./login.html" class="btn btn-default">Login</a>
            <a href="./signup.html" class="btn btn-success btn-lg">Sign up</a>
        </div>
    </div>
</section>

{% endblock %}